*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: bisque;
    color: black;
}

.logo{
    padding-left: 430px;
    padding-top: 50px;
   
}
.content{
    padding-left: 700px;
    padding-top: 30px;
    
}
span{
    font-size: 1.5rem;
    padding-left: 30px;
}
.container{
    padding-left: 150px;
}